<div class="col-md-6 offset-3">
    <div class="">
        <form class="text-center">
            <div class="form-group">
                <h3 for="burgerEntry">Favorite Burgers</h3>
                <input type="text" class="form-control" id="burgerEntry" name="burgerEntry"
                    placeholder="Enter favorite burgers">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>