<div class="col-md-6 text-center">
    <h3 class="p-5">Favorite Burgers List</h3>
    <div>
        {{#each burgers}}
        {{#if devoured}}
        {{>burgers/burgerCard devoured=false}}
        {{/if}}
        {{/each}}
    </div>
</div>