<div class="col-md-6 offset-md-3">
    <form class="text-center add-burger">
        <div class="form-group">
            <h3 class="mt-3 mb-5" for="burgerEntry">Favorite Burgers</h3>
            <input type="text" class="form-control form-control-lg" id="burgerEntry" name="burgerEntry"
                placeholder="Enter favorite burger">
        </div>

        <button type="submit" class="mt-4 btn btn-lg btn-success">Submit</button>
    </form>
</div>
<script src="assets/js/addBurger.js"></script>