<div class="col-md-6 text-center">
    <h3>Devoured</h3>
    <div>
        {{#each burgers}}
        {{#unless devoured}}
        {{>burgers/burgerCard devoured=true}}
        {{/unless}}
        {{/each}}
    </div>
</div>