<div class="container header">
    <div class="text-center header-text">
        <h1 class="p-5">Eat Da Burger</h1>
        <h3>Make a list of your favorite burgers and devour them.</h3>
    </div>
    <div class="container header-image">
        <div class="row offset-4 col-4">
            <img src="assets/img/burgerCartoon.png" alt="burger image" class="img-fluid">
        </div>
    </div>
</div>