<div class="container">
    {{!-- header  --}}
    <div class="row">
        {{> header}}
    </div>
    {{!-- main content --}}
    <div class="row burger-list">
        {{> burgersSection}}
        {{> devouredSection}}
    </div>
    {{!-- add burger form  --}}
    <div class="row burger-form">
        {{> burgerForm}}
    </div>
</div>